.praias {
  background: var(--branco);
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  margin-left: 2rem;
  width: calc(25% - 3.5rem);
}
@media screen and (max-width: 550px) {
  .praias {
    margin: 0.5rem auto;
    width: 55%;
    font-size: 0.9em;
  }
}

@media screen and (max-width: 850px) {
  .praias {
    margin: 0.5rem auto;
    width: 48%;
    font-size: 0.9em;
  }
}
