.banner__cidades___imagem {
  width: 100%;
}

.banner__cidades___imagem--bertioga {
  background: url("../../img/praia-central-de-guaratuba.jpg") no-repeat center /
    cover;
}

@media screen and (min-width: 0) {
  .banner__cidades___imagem {
    height: calc(100vh - 51px);
  }
}

@media screen and (min-width: 768px) {
  .banner__cidades___imagem {
    height: calc(85vh - 72px);
  }
}
