.banner__cidades___titulo {
  color: #fdfdfd;
  font-family: var(--titulo);
  left: 52%;
  top: 94.5%;
  position: absolute;
  text-align: left;
  text-shadow: 12px 8px 4px rgba(0, 0, 0, 0.75);
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 4rem;
}
