.lugares__passeio {
  list-style: none;
  font-family: var(--texto);
}

.lugares__passeiolista--praia:before {
  content: "🏖️";
}
.lugares__passeiolista--canal:before {
  content: "⛵";
}

.lugares__passeiolista--trilha:before {
  content: "🥾";
}

.lugares__passeiolista--comida:before {
  content: "🍽️";
}

.lugares__passeiolista--cachoeira:before {
  content: "🏞️";
}

.lugares__passeiolista--mergulho:before {
  content: "🏊";
}
.lugares__passeiolista--vila:before {
  content: "🕍";
}

.lugares__passeiolista--surf:before {
  content: "🏄🏻‍♀️";
}
.lugares__passeiolista--tamar:before {
  content: "🐢";
}

.lugares__passeiolista--aquario:before {
  content: "🐟";
}
